<html><head></head><body><h1>{{ .key_01 }}</h1>

<h2>{{ .key_02 }}</h2>

<p>{{ .key_03 }}</p>

<p>{{ .key_04 }}</p>

<p>{{ .key_05 }}<a href="https://lantern.io/faq#privacy-4">{{ .key_06 }}</a></p>
</body></html>