<html><head></head><body><h1>{{ .key_01 }}</h1>

<h2>{{ .key_02 }}</h2>

<p>{{ .key_03 }}<a href="https://github.com/getlantern">{{ .key_04 }}</a>{{ .key_05 }}</p>

<p>{{ .key_06 }}</p>

<h2>{{ .key_07 }}</h2>

<p>{{ .key_08 }}<a href="https://support.apple.com/en-us/HT201389">{{ .key_09 }}</a>{{ .key_10 }}</p>

<ol>
<li>{{ .key_11 }}</li>
<li>{{ .key_12 }}</li>
<li>{{ .key_13 }}</li>
<li>{{ .key_14 }}</li>
<li>{{ .key_15 }}</li>
</ol>

<p>{{ .key_16 }}<a href="https://www.cnet.com/tech/mobile/create-a-second-apple-id-for-downloading-apps-in-other-countries/">{{ .key_17 }}</a>{{ .key_18 }}</p>

<blockquote>
<p>{{ .key_19 }}</p>
</blockquote>

<h2>{{ .key_20 }}</h2>

<h3>{{ .key_21 }}</h3>

<p>{{ .key_22 }}<a href="https://play.google.com/store/apps/details?id=org.getlantern.lantern">{{ .key_23 }}</a>{{ .key_24 }}</p>

<h3>{{ .key_25 }}</h3>

<p>{{ .key_26 }}</p>

<p>{{ .key_27 }}<code>{{ .key_28 }}</code>{{ .key_29 }}<code>{{ .key_30 }}</code>{{ .key_31 }}<code>{{ .key_32 }}</code>{{ .key_33 }}<code>{{ .key_34 }}</code>{{ .key_35 }}<code>{{ .key_36 }}</code>{{ .key_37 }}<a href="https://github.com/getlantern">{{ .key_38 }}</a>{{ .key_39 }}<code>{{ .key_40 }}</code>{{ .key_41 }}</p>

<blockquote>
<p>{{ .key_42 }}</p>
</blockquote>
</body></html>