<html><head></head><body><h1>{{ .key_01 }}</h1>

<p>{{ .key_02 }}</p>

<h2>{{ .key_03 }}</h2>

<p>{{ .key_04 }}<a href="https://lantern.io/report-issue">{{ .key_05 }}</a></p>

<p>{{ .key_06 }}</p>

<h3>{{ .key_07 }}</h3>

<ol>
<li>{{ .key_08 }}</li>
<li>{{ .key_09 }}</li>
<li>{{ .key_10 }}</li>
<li>{{ .key_11 }}</li>
<li>{{ .key_12 }}</li>
</ol>

<h3>{{ .key_13 }}</h3>

<ol>
<li>{{ .key_14 }}</li>
<li>{{ .key_15 }}</li>
<li>{{ .key_16 }}</li>
<li>{{ .key_17 }}</li>
<li>{{ .key_18 }}</li>
<li>{{ .key_19 }}</li>
</ol>

<h2>{{ .key_20 }}</h2>

<h3>{{ .key_21 }}</h3>

<p>{{ .key_22 }}<a href="https://support.lantern.io">{{ .key_23 }}</a></p>

<h3>{{ .key_24 }}</h3>

<p>{{ .key_25 }}</p>

<h2>{{ .key_26 }}</h2>

<p>{{ .key_27 }}<a href="#Portal">{{ .key_28 }}</a>{{ .key_29 }}<a href="#Email">{{ .key_30 }}</a>{{ .key_31 }}</p>

<h3>{{ .key_32 }}</h3>

<ol>
<li>{{ .key_33 }}<code>{{ .key_34 }}</code></li>
<li>{{ .key_35 }}<code>{{ .key_36 }}</code>{{ .key_37 }}<code>{{ .key_38 }}</code></li>
<li>{{ .key_39 }}<code>{{ .key_40 }}</code>{{ .key_41 }}</li>
</ol>

<h3>{{ .key_42 }}</h3>

<ol>
<li>{{ .key_43 }}<code>{{ .key_44 }}</code></li>
<li>{{ .key_45 }}<code>{{ .key_46 }}</code></li>
<li>{{ .key_47 }}<code>{{ .key_48 }}</code>{{ .key_49 }}</li>
</ol>

<h3>{{ .key_50 }}</h3>

<ol>
<li>{{ .key_51 }}<code>{{ .key_52 }}</code>{{ .key_53 }}</li>
<li>{{ .key_54 }}<code>{{ .key_55 }}</code>{{ .key_56 }}</li>
<li>{{ .key_57 }}</li>
<li>{{ .key_58 }}<code>{{ .key_59 }}</code>{{ .key_60 }}<code>{{ .key_61 }}</code>{{ .key_62 }}<code>{{ .key_63 }}</code></li>
<li>{{ .key_64 }}<ol>
<li><code>{{ .key_65 }}</code></li>
<li><code>{{ .key_66 }}</code></li>
<li><code>{{ .key_67 }}</code></li>
<li><code>{{ .key_68 }}</code></li>
</ol></li>
<li>{{ .key_69 }}</li>
</ol>

<h3>{{ .key_70 }}</h3>

<p>{{ .key_71 }}</p>

<h3>{{ .key_72 }}</h3>

<p>{{ .key_73 }}</p>

<h2>{{ .key_74 }}</h2>

<p>{{ .key_75 }}</p>

<p><a href="https://www.wireshark.org/download.html">{{ .key_76 }}</a></p>

<blockquote>
<p>{{ .key_77 }}<em>{{ .key_78 }}</em>{{ .key_79 }}</p>

<p>{{ .key_80 }}<a href="#Portal">{{ .key_81 }}</a>{{ .key_82 }}</p>
</blockquote>

<h2>{{ .key_83 }}</h2>

<h3>{{ .key_84 }}</h3>

<p>{{ .key_85 }}<code>{{ .key_86 }}</code>{{ .key_87 }}</p>

<h2>{{ .key_88 }}</h2>

<h3>{{ .key_89 }}</h3>

<ol>
<li><p>{{ .key_90 }}<a href="https://addons.mozilla.org/en-US/firefox/addon/pwas-for-firefox/">{{ .key_91 }}</a>{{ .key_92 }}</p></li>

<li><p>{{ .key_93 }}<code>{{ .key_94 }}</code>{{ .key_95 }}</p></li>

<li><p>{{ .key_96 }}<a href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Guides/Installing">{{ .key_97 }}</a></p>

<h3>{{ .key_98 }}</h3></li>

<li><p>{{ .key_99 }}<code>{{ .key_100 }}</code>{{ .key_101 }}</p></li>

<li><p>{{ .key_102 }}<code>{{ .key_103 }}</code>{{ .key_104 }}<code>{{ .key_105 }}</code></p></li>

<li><p>{{ .key_106 }}<a href="https://support.google.com/chrome/answer/9658361?hl=en&amp;co=GENIE.Platform%3DDesktop">{{ .key_107 }}</a></p>

<h3>{{ .key_108 }}</h3></li>

<li><p>{{ .key_109 }}<code>{{ .key_110 }}</code>{{ .key_111 }}</p></li>

<li><p>{{ .key_112 }}<code>{{ .key_113 }}</code></p></li>

<li><p>{{ .key_114 }}<a href="https://learn.microsoft.com/en-us/microsoft-edge/progressive-web-apps-chromium/ux">{{ .key_115 }}</a></p>

<h3>{{ .key_116 }}</h3></li>

<li><p>{{ .key_117 }}</p></li>

<li><p>{{ .key_118 }}<code>{{ .key_119 }}</code>{{ .key_120 }}<code>{{ .key_121 }}</code></p></li>

<li><p>{{ .key_122 }}<a href="https://support.apple.com/en-us/104996">{{ .key_123 }}</a></p></li>
</ol>
</body></html>