name: Update & Generate Document PDF

on:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Fetch new source doc, install deps, & generate docs
        run: make all

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate docs"
          file_pattern: docs/
          branch: "${{ github.ref_name }}"
