name: Update source, templates, & translations
on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Install dependencies
        run: make install_illuminated install_pandoc

      - name: Update documentation with translations
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        run: make update_docs clean

      - name: Debug file changes
        run: |
          echo "Modified files:"
          git status --short

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update docs source, templates, & translations"
          file_pattern: docs/**
          branch: "${{ github.ref_name }}"

